.form {
  display: grid;
  grid-template-columns: auto 70px;
  column-gap: 15px;
  border-radius: var(--window-border-radius);
  border: 1px solid grey;
}
.form_title {
  font-size: 24px;
  padding: 0px 8px 4px 8px;  
}
.form_body {
  padding: 15px;
  padding-left: 25px;
}

.form_fields {
  display: grid;
  column-gap: 20px;
  row-gap: 3px;
  
}

.form_validity-errors {
  list-style: url('/leaf-ident.svg') inside;
  padding: 15px;
  padding-bottom: 0px;
  margin: 0px;

}
.form_validity-error{
  color: var(--c-error-red);
  font-size: 14px;
  font-weight: 600;
}
