.multi-slider_container {
  height: 91.6px;  

}

.multi-slider_wrapper {
  height: 37px;
  box-sizing: border-box;

  padding: 3px 0 8px 0;
}

.multi-slider {
  display: grid;
  grid-template-rows: 1fr;
}
.multi-slider_track {
  grid-row: 1;
  grid-column: 1;

  height: 10px;
  margin: 8px 0;

  background-color: var(--c-main-green);
  border-radius: 5px;
}


/* Sldier input tag */
.multi-slider_input-tag {
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  padding: 0 3px;

  grid-row: 1;
  grid-column: 1;
  background: none; 
  color: #000;
  font: inherit; 
  margin: 0;
  pointer-events: none; 
}

/* Slider track */
.multi-slider_input-tag::-webkit-slider-runnable-track {
  -webkit-appearance: none;  
  height: 100%;
  width: 100%;
}
.multi-slider_input-tag::-moz-range-track {
  background: none;
  height: 100%;
  width: 100%;
}

/* Slider thumb */
.multi-slider_input-tag::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--c-grey);
  pointer-events: auto; 
  width: 4px;
  height: 26px;
}
.multi-slider_input-tag::-moz-range-thumb {
  background: var(--c-grey);
  border: none; 
  border-radius: 0;   
  pointer-events: auto; 
  width: 4px;
  height: 26px;
}
.multi-slider_input-tag::-webkit-slider-thumb:hover {
  cursor: pointer;
}
.multi-slider_input-tag::-moz-range-thumb:hover {
  cursor: pointer;
}


/* Slider info */
.multi-slider_info {  
  height: 54.6px;
  box-sizing: border-box;

  border: 1px solid var(--c-light-grey);
  border-radius: 7px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.multi-slider_info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 14px;
}
.multi-slider_info-value {
  font-weight: 300;
} 

