.methods-icon {
  padding-bottom: 5px;
  width: 25px;
  height: 27px;
  fill: var(--c-grey);

  justify-self: center;
  align-self: center;

  transition: fill 300ms;
}
.methods-icon:hover {
  cursor: pointer;
  /* TODO: change hover color */
  fill: var(--c-dark-green);
}

.methods-icon__non-default {
  fill: var(--c-dark-green);
}

.methods-icon_arrow {
  transform-origin: 17.9px 4.12px;

  transition: transform 300ms;
}
.methods-icon_arrow__expanded {
  transform: rotate(180deg);
}