.result-section {
  display: grid;
  grid-template-rows: max-content auto;
  gap: 15px;
  height: 100%;
}
.result-section__row {
  grid-template-rows: auto;
  grid-template-columns: max-content auto;
}

.result-section_sources {
  min-width: 120px;
}

.result-section_source {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 14px;
  padding: 0px 8px;
}


.result-section_source-value {
  text-align: right;
  
  color: var(--c-dark-green)
}


.result-section_results {
  border-radius: 7px;
  padding: 5px 7px;
  border: 1px solid var(--c-light-grey);

  display: grid;
  grid-template-rows: max-content auto;
}
.result-section_results:hover {
  border-color: var(--c-main-green)
}
.result-section_results-title {
  text-align: right;
}
.result-section_results-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 20px 8px;
}
