/* Default color is main-green */
.multi-button {
  display: flex;
  align-items: center;

  height: 45px;
  width: 100%;

  border-radius: 8px;

  background-color: var(--c-main-green);

}

.multi-button_text {
  width: 100%;
  min-width: fit-content;

  padding: 10px 18px;

  display: flex;
  justify-content: center;

  color: inherit;

  white-space: nowrap;
  overflow: hidden;
}

/* Colors */
.multi-button__grey {
  background-color: #E6EBE9;
}

.multi-button__faint-grey {
  background-color: #F9FAFA;
}

.multi-button__red {
  background-color: #DF5555;
  color: #FCF8F8;
}

.multi-button__faint-red {
  background-color: #FCF8F8;
  color: #DF5555;
}


/* Default color is main-green */
.multi-button_divider {
  width: 1.5px !important;
  height: 35px;

  flex: 0 0 auto;
  background-color: #40af79;
}

/* Colors */
.multi-button__grey .multi-button_divider {
  background-color: #dbe0de;
}

.multi-button__faint-grey .multi-button_divider {
  background-color: #edf2f2;
}

.multi-button__red .multi-button_divider {
  background-color: #D34545;
}

.multi-button__faint-red .multi-button_divider {
  background-color: #f7e9e9;
}