<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flask predictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Predictor</h1>
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="insulin" placeholder="insulin" required="required" />
        <input type="text" name="glucose" placeholder="glucose" required="required" />
        <input type="text" name="TC" placeholder="TC" required="required" />
        <input type="text" name="HDL-C" placeholder="HDL-C" required="required" />
        <input type="text" name="TG" placeholder="TG" required="required" />
        <input type="text" name="LDL-C" placeholder="LDL-C" required="required" />
        <input type="text" name="age" placeholder="age" required="required" />
        <input type="text" name="sex_f" placeholder="sex_f" required="required" />
        <input type="text" name="sex_m" placeholder="sex_m" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
