.methods-button {
  width: 25px;
  height: 27px;
  fill: var(--c-grey);

  transition: fill 300ms;

}
.methods-button__non-default {
  fill: var(--c-dark-green);
}

.methods-button_arrow {
  transform-origin: 17.9px 4.12px;

  transition: transform 300ms;
}
.methods-button_arrow__expanded {
  transform: rotate(180deg);
}