.window {
  border-radius: var(--window-border-radius);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(158, 171, 165, 0.1);
  backdrop-filter: blur(15px);

  padding: 15px 25px 25px 25px;
  width: fit-content;

  display: grid;
  grid-template-rows: max-content auto;
}
.window__blank {
  padding: 0;
  display: block;
}

.window_title {
  font-size: 24px;
  padding: 0px 8px 4px 8px;  
}
.window__blank  .window_body {
  height: 100%;
}