.preferences-page {
  height: 100%;
}
.preferences-page_main-area {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

}

.preferences-page_grid {
  display: grid;
  column-gap: 30px;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: 
    "physParams nutrients"
    "physActivity nutrients"
    "foodPrefs nutrients";
}
.preferences-page_phys-params {
  grid-area: physParams;
}
.preferences-page_phys-activity {
  grid-area: physActivity;
}
.preferences-page_food-prefs {
  grid-area: foodPrefs;
}
.nutrients {
  grid-area: nutrients;
}


.nutrients_energy {
  grid-area: energy;
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
}
.nutrients_main-nutrients {
  grid-area: mainNutrients;
}
.nutrients_other-nutrients {
  grid-area: otherNutrients;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.nutrients_grid {
  height: 100%;
  gap: 10px 25px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
    "energy mainNutrients"
    "energy otherNutrients";
}
